<section class="section section-light-grey is-medium">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 is-spaced">Отправьте нам ссылку на ваш магазин в Ozon, Wildberries, Avito или других </h2>
        <h3 class="subtitle is-5 is-muted">И получите детальный отчет о качестве</h3>
        <div class="divider is-centered"></div>
      </div>
      <div class="content-wrapper">
        <div class="columns">
          <div class="column is-6 is-offset-3">
            <form id="contact" accept-charset="UTF-8" action="https://submit-form.com/eCsAoLbP" method="POST">
              <div class="columns is-multiline">
                <div class="column is-6">
                  <input class="input is-medium" type="text" name="name" placeholder="Ваше имя">
                </div>
                <div class="column is-6">
                  <input class="input is-medium" type="email" name="email" placeholder="Ваш емейл">
                </div>
                <div class="column is-12">
                  <input class="input is-medium" type="text" name="site" placeholder="Ссылка на ваш магазин">
                </div>
                <div class="column is-12">
                  <div class="success">Спасибо за ваше отзыв</div> 
                </div>
                <div class="form-footer has-text-centered mt-10">
                  <button class="button cta is-large primary-btn raised is-clear">Отправить</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>